@font-face {
  font-family: p;
  src: url("../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.Home {
  background-color: #6189b1;
  height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Home-h1 h1 {
  text-align: center;
  color: #ecf1f5;
  font-family: p;
  letter-spacing: 2px;
}

.Home-container {
  margin-bottom: 15vh;
}

.Home-h1 h1 {
  font-size: 2.6rem;
  font-weight: 200;
}

.para {
  margin-top: 20px;
}

.line p {
  font-weight: 600;
}

.Home-h1 h1:nth-child(1) {
  letter-spacing: 6px;
  margin-bottom: 20px;
}

/*  animation */

.Home-h1 h1 {
  opacity: 0;
  animation: fadeHome .3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* media query */

@media (max-width: 564px) {
  .Home-h1 h1 {
    font-size: 2rem;
  }
}

@media (max-width: 423px) {
  .Home-h1 h1 {
    font-size: 1.6rem;
  }

  .para p {
    font-size: 0.9rem;
  }
}
